.btn-history-toggle.historyon {background-color: #0f6099; border-radius: 8px;}
.content-sections>fieldset>label.historying {background-color: #cce3f9; background-image: url(../images/btn_history.png); 
	background-repeat: no-repeat; background-position: 0% 50%; line-height: 18px; text-align: center; padding-left: 5px; 
	padding-bottom: 10px; width: 134px; margin: 0px 11px 0px 0px; border-radius: 4px; color: #278ff1; cursor: pointer;}
label.historying:hover {color: #fff; background-color: #0f6099;}