.photos-desc {line-height: 26px;font-size: 12px;color: #c4c4c4;}
.photos {background:#fff; min-height:130px; width:684px; border:1px solid #c4c4c4; 
    margin-top:4px; padding:5px 15px 15px 5px; border-radius:4px;}
.photos .photo, .photos .thumb {float:left; margin:10px 0px 0px 10px; position:relative;}
.photos .photo img, .photos .thumb img {height:90px; padding:3px; border:1px solid #c4c4c4;}
.holder {position:absolute; left:0px; top:0px; width:707px; height:200px; border:1px solid #c4c4c4;
    background:#EFE; line-height:200px; text-align:center; font-size:24px; color:#888;
    opacity:0.8; text-shadow:1px 1px #fff; display:none;}
.attach {margin:0px 3px 0 -4px; float:left; display:block; padding:0 4px; height:22px; line-height:22px;
    position:relative; padding-left:15px; cursor:pointer; border-radius:5px;}
.attach:hover {background:#0f6099; color:#fff;}
.cmps {background:url(../images/cmps.png) no-repeat; width:7px; height:12px; overflow:hidden; position:absolute; left:5px; top:5px;}
.cmps-hover {background-position:-36px 0;}
.photo-section {margin: 0 auto; width: auto; height: auto; padding: 20px; background: #f8f8f8;; border-radius: 10px; 
    box-shadow: 0px 15px 30px #333; display: none;}
.photos .thumb .icon-remove {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-position: -309px 3px;
	background-image: url(../images/glyphicons-halflings.png);
	position: absolute;
	border-radius: 10px;
	border: 1px solid #c4c4c4;
	background-color: #efefef;
	background-repeat: no-repeat;
	right: -4px;
	top: -4px;
	display: none;
}